<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Grid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col id="tituloTabuada"><ion-text><h1>Tabuada do 10</h1></ion-text></ion-col>
    </ion-row>
    <ion-row >
      <ion-col>10 x 1</ion-col>
      <ion-col>10</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>10 x 2</ion-col>
      <ion-col>20</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>10 x 3</ion-col>
      <ion-col>30</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>10 x 4</ion-col>
      <ion-col>40</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>10 x 5</ion-col>
      <ion-col>50</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>10 x 6</ion-col>
      <ion-col>60</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>10 x 7</ion-col>
      <ion-col>70</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>10 x 8</ion-col>
      <ion-col>80</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>10 x 9</ion-col>
      <ion-col>90</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>10 x 10</ion-col>
      <ion-col>100</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
