<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tabuada do 10</ion-card-title>
      <ion-card-subtitle>Tabuada apresentada por meio da tag list</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>10 x 1 = 10</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>10 x 2 = 20</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>10 x 3 = 30</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>10 x 4 = 40</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>10 x 5 = 50</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>10 x 6 = 60</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>10 x 7 = 70</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>10 x 8 = 80</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>10 x 9 = 90</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>10 x 10 = 100</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
